.contantContainer {
  display: flex;
  justify-content: center;

  width: 650px;
}

.discription {
  display: flex;
  justify-content: space-between;

  width: 500px;
}

.selectedPage {
  font-weight: bold;
}
