.friends{
    width: 1000px;
    display: flex;
    align-items: center;
}

.avatarFriends{
    padding: 10px 0 0 10px;
}

.friends img {
    width: 50px;
    border-radius: 30px;
}
.discription{
    padding-left: 50px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}