.friends {
  display: flex;
  align-items: center;

  width: 1000px;
}

.avatarFriends {
  padding: 10px 0 0 10px;
}

.friends img {
  width: 50px;

  border-radius: 30px;
}
.discription {
  display: flex;
  justify-content: space-between;

  width: 800px;
  padding-left: 50px;
}
