.nav {
  grid-area: n;

  margin-right: 5px;

  background-color: #edeef0;
}
.item {
  padding: 5px 5px 5px 5px;

  color: black;
}

.item a {
  text-decoration: none;
}

.item:hover {
  background-color: #818c99;
}

.active {
  color: black;
}

.myPhotos {
  width: 900px;
  margin-top: 10px;
}
