.nav{
    grid-area: n;
    background-color: #edeef0;
    margin-right: 5px;
}
.item{
    color: black;
    padding: 5px 5px 5px 5px;
}

.item a {
    text-decoration: none;

}

.item:hover{
    background-color: #818c99;
}

.active {
    color: black;
}

.myPhotos{
    margin-top: 10px;
    width: 900px;
}