.avatarBlock {
  display: flex;
  flex-direction: column;

  width: 185px;
}

.avatar {
  width: 180px;
  height: 180px;
  padding: 10px 0 0 10px;
}

.addImage {
  margin: 10px;
}

.descriptionProfile {
  display: flex;
}

.profileInfo {
  padding-left: 40px;
}

.contacts {
  display: flex;
  flex-direction: column;

  width: 100%;
  align-items: flex-end;
  padding: 10px 70px;
}
