.item {
  display: flex;
}

.item img {
  align-items: center;

  width: 60px;
  height: 60px;

  border-radius: 50%;
}

.textPost {
  padding-left: 20px;
}

.posts {
  width: 800px;
  margin-left: 100px;

  background-color: #818c99;
}

.post {
  width: 1000px;
}

.space {
  height: 10px;

  background-color: white;
}
