.item{
    display: flex;
}

.item img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
}

.textPost{
padding-left: 20px;
}

.posts{
    margin-left: 100px;
    width: 800px;
    background-color: #818c99;
}

.post{
    width: 1000px;
}

.space{
    height: 10px;
    background-color: white;
}